<div id="app-dashboard">
    <Dashboard></Dashboard>
</div>

{% style name:"codyschool-dashboard-css" %}
{% script name: "codyschool-dashboard-js", version: "1" %}
<script>window.initDashboard('#app-dashboard')</script>
