<div class="flex min-h-screen flex-col items-center">
  <div class="flex w-full flex-col items-center">
    <h1 class="animate-fade-up mt-12 px-6 text-center font-heading text-4xl drop-shadow-sm sm:text-5xl lg:text-6xl">
      Welcome to CodySchool Husky
    </h1>
  </div>
</div>
