<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<!--begin::Head-->
<head>
    <base href="" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <link rel="canonical" href="" />
    <link rel="shortcut icon" href="~/CodySchool.Seven/favicon.ico" />
    <style asp-name="codyschool" version="1"></style>
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body>
    @await RenderSectionAsync("Messages", required: false)
    @await RenderBodyAsync()
</body>
</html>