@{
    // Morphing the shape to keep Model untouched
    Model.Metadata.Alternates.Clear();
    Model.Metadata.Type = "NavigationItemText";
    Model.Metadata.Alternates.Add("NavigationItemText_Id__" + Model.Id);

    TagBuilder tag = Tag(Model, Model.HasItems ? "span" : "a");
    tag.AddCssClass("menu-link text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold");

    if ((bool)Model.Selected)
    {
        tag.AddCssClass("active");
    }
    if (Model.Href.ToString() != "#")
    {
        tag.AddCssClass("py-2");
        tag.Attributes["href"] = Model.Href;
    }

    if (Model.HasItems)
    {
        tag.InnerHtml.AppendHtml(await DisplayAsync(Model));
        tag.InnerHtml.AppendHtml(Html.Raw("<span class=\"menu-arrow\"></span>"));
    }
    else
    {
        tag.InnerHtml.AppendHtml(await DisplayAsync(Model));
    }
}

<!--begin:Menu link-->
@tag
<!--end:Menu link-->